[Unit]
Description=Extractor Marketing Report Generator
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/extractor
Environment="PATH=/var/www/extractor/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStartPre=/bin/bash -c 'pkill -f chrome || true'
ExecStart=/var/www/extractor/venv/bin/gunicorn -c gunicorn_config.py run:app
ExecStopPost=/bin/bash -c 'pkill -f chrome || true'
Restart=always
TimeoutStartSec=60
TimeoutStopSec=60
KillMode=mixed
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
StandardOutput=append:/var/log/extractor/extractor.log
StandardError=append:/var/log/extractor/extractor.error.log

[Install]
WantedBy=multi-user.target 